*{
    text-align: center;
    background-color:#452908;
}

h1{
    color: rgb(56, 199, 165);
    text-decoration: underline;
}

p{
    color: rgb(63, 165, 112);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

a{
    background-color: burlywood;
}

#dvID1{
    border: 7px double rgb(60, 144, 234);
    padding: 3px;

    #dvID2{
        margin-left: 45%;
    }

    table{
        padding: 3px;
        border: 5px solid rgb(124, 194, 207);
        margin: 4px;
        color: rgb(137, 9, 206);
        caption{
            color: rgb(11, 173, 119);
        }
        th{
            color: rgb(0, 76, 142);
            border: 2px solid rgb(124, 194, 207);
            border-collapse:separate;
        }
        td{
            border: 2px solid rgb(124, 194, 207);
            border-collapse:separate;
        }
    }
}

#dvID3{
    border: 4px dashed rgb(61, 158, 158);
    padding: 9px;

    ol{
    list-style-position: inside;
    text-align: center;
    color: rgb(137, 9, 206);
    }
}